.container {
  margin: 5px 40 0 40;
  clear: both;
  background-color: #e0eead;
  overflow: hidden;
}

.content {
  margin: 15px;
}

.content h2 {
  font-family: 'Oswald', sans-serif;
}

.content h3 {
  font-family: 'Oswald', sans-serif;
}

.whole {
   background-image: url("../resources/img/site_background.jpg");
   background-attachment: fixed;
}
