.navbar {
  margin: 0 40px;
}

.navbar ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  float:left;

}

.navbar  li {
  background-color: #395e77;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
  border-top: 4px solid #e0eead;
  border-left: 4px solid #e0eead;
  border-right: 4px solid #e0eead;
}

.navbar  a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.navbar a:hover {
  background-color: #549ec3;
}

.navbar a.active {
  background-color: #223a47;
  color: #fff;
}

@media screen and (min-width: 600px) {
  .navbar li {
    width: 180px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  .navbar li {
    display: inline-block;
  }
}

.title {
  margin: 15;
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
}

.login_bar {
  float: right;
  margin: -20px -3;
  border: 1px;
}

.login_bar ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  border: 2px solid #e0eead;
}

.login_bar  li {
  background-color: #395e77;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  line-height: 12px;
  height: 12px;
  border-bottom: 1px solid #888;
}

.login_bar  a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.login_bar a:hover {
  background-color: #549ec3;
}

@media screen and (min-width: 600px) {
  .login_bar li {
    width: 180px;
    border-bottom: none;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
  }

  .login_bar li {
    display: inline-block;
  }
}
