.form_large select {
  width: 300px;
  height: 40px;
  font-size: 24px;
  display: block;
  margin: 12px;
}

.form_large input[type="text"] {
  width: 300px;
  height: 40px;
  font-size: 24px;
  display: block;
  margin: 12px;
}

.form_large b {
  font-size: 20px;
}

.form_large label {
  font-size: 14px;
}

.form_large input[type="submit"] {
  margin: 12px;
  font-size: 24px;
}

.form_large input[type="button"] {
  margin: 12px;
  font-size: 24px;
}

.form_large table, .form_large th, .form_large td {
  font-family: 'Oswald', sans-serif;
  border-collapse: collapse;
  margin: 20px;
}

.form_large th, .form_large td {
  font-size: 1em;
  border: 1px solid #176fd2;
  padding: 3px 7px 2px 7px;
  background-color: #ffffff;
  width: 300;
}

.form_large th {
  font-size: 1.1em;
  text-align: left;
  padding: 10px;
  background-color: #3172ac;
  color: #ffffff;
}

.form_large tr.alt, .form_large td {
  color: #000000;
  background-color: #EAF2D3;
}

.inline {
  display: inline;
}

.customer_info {
  border: 1px solid black;
  font-family: 'Oswald', sans-serif;
  border-collapse: collapse;
}

.customer_info th, .customer_info td {
  border: 1px solid;
}

.customer_info td:first-child {
  background-color: #0088ff;
  border-color:  #ffffff;
  color: #ffffff;
}

.customer_info td {
  background-color: #ffffff;
  border-color:  #000000;
  margin-left: 12px;
}
